body {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}